.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
    background: white;
}
.nav-link i {
    font-size: 16px;
    padding: 9px;
    border: 1px solid green;
    border-radius: 200px;
    color: green;
}
header{
    margin-top: 82px;
} 
h1{
    color: green;
}
p{
    opacity: 0.5;
}
ul{
    list-style: none;
}