@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('bootstrap.min.css');

:root {
    --color-green: #006633;
    --color-light-green: #c3e6cb;
    --color-green-rgb: 0 102 51;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #181818;
    font-weight: 400;
}

h1 {
    font-size: 45px;
    font-weight: 600;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--color-green);
}

h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
}

header + section{
    margin-top: 82px;
}

.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
    background: white;
}

.nav-link i {
    font-size: 16px;
    padding: 9px;
    border: 1px solid var(--color-green);
    border-radius: 200px;
    color: var(--color-green);
}

.color-green {
    color: var(--color-green) !important;
}

.get-btn {
    background-color: var(--color-green);
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    border-radius: 10px;
}
nav+section {
    margin-top: 105px;
}

.firstrow i {
    font-size: 50px;
    padding: 25px;
    border: none;
}

.firstrow {
    padding: 20px;
}

.firstrow h5 {
    font-size: 24px;
    font-weight: 700;
}

.innercol p {
    font-size: 18px;
    color: grey;
    letter-spacing: 2px;
}

.icons i {
    border: none;
    font-size: 55px;
    color: var(--color-green);
}

.icons {
    padding-top: 10px;
    padding-bottom: 10px;
}

.hero-img img {
    max-width: 340px;
}

.sectionOne {
    background: url("../img/medical-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
}

.client {
    text-align: center;
}

.client p {
    text-align: center;
    font-weight: 200;
}

.sectionTwo {
    padding-top: 60px;
    padding-bottom: 60px;
}

ul i {
    border: none;
    font-size: 15px;
    padding: 15px;
    border-radius: 200px;
    color: var(--color-green);
}

.sectionthree {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(241, 241, 241);
}

.card1 {
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

.card1 {
    padding: 10px;
    text-align: center;
}

h6 {
    font-size: 23px;
    font-weight: 700;
    padding-top: 5px;
    color: blue;
}

.card1 p {

    font-weight: 600;
}

.sectionfour {
    padding-top: 50px;
    padding-bottom: 50px;
}

.client img {
    border-radius: 300px;
    padding: 50px;
}

.client p {
    font-size: 20px;
    color: grey;
}

.btn2 {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    border: none;
    outline: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--color-green);
    color: white;
    transition: 0.4s;
    border: 0px !important;
}

.btn2:hover {
    border: 1px solid var(--color-green);
    color: var(--color-green);
    background-color: white;
}

.clients2 img {
    border-radius: 0px;
}

.lone p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sectionfive {
    padding-top: 50px;
    padding-bottom: 0px;
}

.foot b {
    color: var(--color-green);
    font-weight: 800;
}

.foot {
    font-size: 18px;
    font-weight: 300;
}

.footerIcon i {
    font-size: 25px;
    padding: 20px;
    background-color: rgb(236, 236, 237);
    border-radius: 100px;
    margin: 5px;
    color: rgb(181, 181, 181);
}

.footerIcon p {
    font-weight: 600;
    color: grey;
}

.sectionsix {
    padding-top: 30px;
    padding-bottom: 30px;
}

.list-style {
    margin-bottom: 20px;
}

.list-style>li {
    list-style: none;
    line-height: 30px;
    font-weight: 500;
}

.first-letter {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-green);
    margin-right: 7px;
}

.testimonial-video {
    margin-bottom: 20px;
}
.card {
    flex-direction: row;
  }
  .card img {
    vertical-align: middle;
    width: 100px;
    height: 100px;
  }

  .innercol ul{
    list-style: none !important;
  }
  
  @media screen and (max-device-width:480px), screen and (max-width:300px) {

    body{
        text-align: center;
    }
    
    .hero-img img{
    margin-bottom: 20px;

    
    }
    .sectionOne{
        padding-top:0px !important;
    }
   
    .btn2 {
        padding-left: 9px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 9px;
    }
    .cure-heading h1{
        font-size: 25px !important;
    }
    .cure-heading h2{
        font-size: 20px !important;
    }
    .color-green{
        font-size: 25px !important;
    }
    .client h2{
        font-size: 25px !important;

    }
    .contact-no{
        
        font-size: 13px !important;
    }
    .sectionthree{
        padding-bottom: 0px;
    }
    .sectionfour{
        padding-bottom: 0px;
    }
    .sectionfive{
        padding-top: 0px;
    }
    .sectionTwo{
        padding-top: 0px !important;
    }
    }
    @media screen and (max-device-width:768px), screen and (max-width:320px) {
    
        .about-img img{
        margin-top: 20px;
        }
        }